# LaTeX auxiliares
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# Compilado
main.pdf

# Syncthing
*.sync-conflict-*
l/
